
.list{
    width:100%;
    margin: 30px auto;
    padding: 10px;
    box-sizing: border-box;
}

.list h2{
    color:black;
    text-align: center;
}


.list-menu{
    display:grid;
    gap: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 10px;
    width: 100%;
}




.item{
    padding: 10px;
    background-color: whitesmoke;
    box-shadow:0 0 5px rgba(194, 4, 159, 0.4);
    border-radius: 5px;
    
   
}


.menu-image{
    width:100%;
    padding: 10px;
    box-sizing:border-box;
}

.menu-image img{
    width:100%;
}

.ketmenu{
    padding: 10px;
}

.ketmenu h4{
    font-size: 14px;
}

/* ======================== */

@media screen and (min-width: 760px){
    .list{
        width:80%;
    }
    .list-menu{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}